<?php

$proxycheckkey = "";
$iphubkey = "";
$email = "";
$ipqualityscorekey = "";
$iphunterkey = "";
$teohkey = "";
$auth = urlencode( '' );
$purl = "";

//Generate tokens using https://passwordsgenerator.net/
$tokens = array(
    "user" => "",
);

